@import './typography.css';
@import './layout.css';
@import "./experience.css";
@import "./utilities.css";
@import "./theme.css";

:root {
    /* Typography */
    --headline-1: 4rem;
    --headline-2: 1.75rem;
    --headline-3: 1.25rem;

    color-scheme: light dark;

    &:has(input[name="color-scheme"]:checked) {
        color-scheme: light;
    }

    &:has(input[name="color-scheme"]:not(:checked)) {
        color-scheme: dark;
    }

    /* Colors */
    --primary-color: light-dark(#00455E, #0096bf);
    --primary-gradient-start: light-dark(#005473, #002f40);
    --primary-gradient-end: light-dark(#00384D, #001c26);
    --text-primary-color: light-dark(#1A1A1A, #ffffff);
    --text-secondary-color: light-dark(#5F5F5F, rgba(255, 255, 255, 0.8));
    --background-color: light-dark(#f2f2f2, #00121a);
    --foreground-color: light-dark(#FFFFFF, #00090d);

    /* Shadows (https://www.joshwcomeau.com/shadow-palette/) */
    --shadow-color: light-dark(0deg 0% 62%, 0, 0%, 18%);

    --shadow-elevation: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
}

html {
    scrollbar-color: #00455E var(--background-color);
}

body {
    background-color: var(--background-color);
    box-shadow: var(--shadow-elevation);
}

main {
    background-color: var(--foreground-color);
}

aside {
    background: linear-gradient(to bottom, var(--primary-gradient-start), var(--primary-gradient-end));
    overflow: hidden;
}

.photo {
    max-width: 120%;
    max-height: 450px;
    mask-image: url("./assets/mask.svg");
    mask-repeat: no-repeat;
    mask-size: 100%;
    transform: scale(1.1) translateX(-10%);
}

/* Link */

a {
    color: currentColor;
    text-decoration-style: dotted;
    text-underline-offset: .33em;
    text-decoration-color: var(--text-primary-color);
    transition: text-underline-offset .1s ease;
}

a:hover {
    text-underline-offset: .45em;
}

aside a {
    text-decoration-color: rgba(255, 255, 255, .5);
}

/* Meter */

.meter {
    --height: 8px;
    position: relative;
    height: var(--height);
    border-radius: calc(var(--height) / 2);
    background-color: rgba(255, 255, 255, 0.25);
    overflow: hidden;
    margin-top: .25rem;
    margin-bottom: 1rem;
}

.meter__inner {
    position: absolute;
    left: 0;
    height: 100%;
    width: 0%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));
    border-radius: calc(var(--height) / 2);
    transition: width .5s ease-in-out;
}

.mounted .meter__inner {
    width: calc(var(--percentage) * 1%);
}