@import './typography.css';
@import './layout.css';
@import "./experience.css";
@import "./utilities.css";

:root {
    /* Typography */
    --headline-1: 4rem;
    --headline-2: 1.75rem;
    --headline-3: 1.25rem;

    /* Colors */
    --primary-color: #00455E;
    --text-primary-color: #1A1A1A;
    --text-secondary-color: #5F5F5F;
    --background-color: #f2f2f2;
    --foreground-color: #FFFFFF;

    /* Shadows (https://www.joshwcomeau.com/shadow-palette/) */
    --shadow-color: 0deg 0% 62%;

    --shadow-elevation: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
}

html {
    scrollbar-color: #00455E var(--background-color);
}

body {
    background-color: var(--background-color);
    box-shadow: var(--shadow-elevation);
}

main {
    background-color: var(--foreground-color);
}

aside {
    background: linear-gradient(to bottom, #005473, #00384D);
    overflow: hidden;
}

.photo {
    max-width: 120%;
    max-height: 450px;
    mask-image: url("./assets/mask.svg");
    mask-repeat: no-repeat;
    mask-size: 100%;
    transform: scale(1.1) translateX(-10%);
}


/* Link */

a {
    color: currentColor;
    text-decoration-style: dotted;
    text-underline-offset: .33em;
    text-decoration-color: var(--text-primary-color);
    transition: text-underline-offset .1s ease;
}

a:hover {
    text-underline-offset: .45em;
}

aside a {
    text-decoration-color: rgba(255, 255, 255, .5);
}

/* Meter */

.meter {
    --height: 8px;
    position: relative;
    height: var(--height);
    border-radius: calc(var(--height) / 2);
    background-color: rgba(255, 255, 255, 0.25);
    overflow: hidden;
    margin-top: .25rem;
    margin-bottom: 1rem;
}

.meter__inner {
    position: absolute;
    left: 0;
    height: 100%;
    width: 0%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));
    border-radius: calc(var(--height) / 2);
    transition: width .5s ease-in-out;
}

.meter.mounted .meter__inner {
    width: calc(var(--percentage) * 1%);
}