:root {
    color-scheme: light dark;

    &:has(input[name="color-scheme"]:checked) {
        color-scheme: light;
    }

    &:has(input[name="color-scheme"]:not(:checked)) {
        color-scheme: dark;
    }
}

.theme-switcher {
    --size: 50px;
    width: var(--size);
    height: var(--size);

    position: fixed;
    z-index: 10;
    top: 4vmin;
    right: 4vmin;

    background-color: var(--foreground-color-alpha-33);
    backdrop-filter: blur(10px);
    border-radius: 50%;

    display: grid;
    place-items: center;
    place-content: center;
}

.light-mode,
.dark-mode {
    transition: transform .5s ease;
}

.theme-switcher:hover :is(.dark-mode, .light-mode) {
    transform: rotate(20deg);
}

.theme-switcher label {
    cursor: pointer;
}

.theme-switcher input:checked + label .dark-mode {
    display: none;
}

.theme-switcher input:not(:checked) + label .light-mode {
    display: none;
}

.theme-switcher input:not(:checked) + label .dark-mode {
    fill: white;
}