.theme-switcher {
    --size: 50px;
    position: fixed;
    z-index: 10;
    top: 4vmin;
    right: 4vmin;
    background-color: var(--foreground-color-alpha-33);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    width: var(--size);
    height: var(--size);

    display: grid;
    place-items: center;
    place-content: center;
}

.light-mode,
.dark-mode {
    transition: transform .5s ease;
}

.theme-switcher:hover :is(.dark-mode, .light-mode) {
    transform: rotate(20deg);
}

.theme-switcher label {
    cursor: pointer;
}

.theme-switcher input:checked + label .dark-mode {
    display: none;
}

.theme-switcher input:not(:checked) + label .light-mode {
    display: none;
}

.theme-switcher input:not(:checked) + label .dark-mode {
    fill: white;
}