@media screen and (max-width: 625px) {
    .hide-on-mobile {
        display: none;
    }
}

@media screen and (min-width: 625px) {
    .hide-on-desktop {
        display: none;
    }
}

.mt-1 {
    margin-top: .5rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 1.5rem;
}
