@media screen and (max-width: 625px) {
    .hide-on-mobile {
        display: none;
    }
}

@media screen and (min-width: 625px) {
    .hide-on-desktop {
        display: none;
    }
}

.mt-2 {
    margin-top: 1rem;
}